# General ignores (global and local junk)
.DS_Store
Thumbs.db
.Rhistory
.RData
.Ruserdata
.Rproj.user/
.vscode/           

# LaTeX 
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
*.xml
*.bcf

output/
*.pdf
*.docx
*.rds

data/*
!data/README.md
!data/example_sample_data.csv
!data/.gitkeep  

# Remote
*.sh